.hero {
  position: relative;
  padding-inline: var(--spacing-800);
  padding-block: var(--spacing-900);
}

.hero::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.05;
  z-index: -1;
  background-image: url("../../assets/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-layout {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero-layout > * {
  flex: 1;
}

.hero-title {
  font-size: var(--fs-900);
  text-transform: none;
  text-wrap: balance;
}

.hero-title-highlight {
  display: inline-block;
  font-weight: 700;
  color: var(--color-200);
  text-transform: uppercase;
}

.hero-title-highlight > span {
  font-weight: 400;
  color: var(--color-highlight-400);
  text-transform: lowercase;
}

.hero-content > div {
  display: flex;
  gap: 4rem;
}

.hero-content-column {
  flex: 1;
}

.hero-content > h3 {
  font-size: var(--fs-500);
}
