.card-modal {
  display: flex;
  top: 50px;
  left: var(--_xPos);
  width: var(--_width);
  height: 0;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--color-700);
  position: absolute;
  /* transform: skewY(125deg); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.card-modal.active {
  z-index: 10;
  height: fit-content;
  transform-origin: center center;
  transform: scale(1.1) translateY(-20px);
  transition: transform 300ms ease-out;
}

.card-modal h3 {
  font-size: var(--fs-500);
  color: var(--color-highlight-400);
}

.card-modal > .card-modal-main {
  font-size: var(--fs-300);
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.card-modal > .card-modal-main > .card-modal-links {
  padding-top: 0.3em;
  text-align: right;
  font-size: var(--fs-500);
}

.card-modal a,
.card-modal a:visited {
  color: var(--color-100);
}

.card-modal > img {
  object-fit: cover;
}
