#skills {
  padding-block-start: var(--spacing-900);
  padding-block-end: var(--spacing-900);
}

#projects {
  position: relative;
}

#projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.05;
  z-index: -1;
  background-image: url("/src/assets/skills-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 75ch;
}

.decorated-header {
  font-size: var(--fs-400);
  color: var(--color-200);
  border-left: 6px solid var(--color-highlight-400);
  margin-bottom: 1em;
  padding-inline: var(--spacing-200);
  display: inline-block;
}
