#skills {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding-block-start: calc(var(--spacing-900) + 75px / 2);
  padding-block-end: var(--spacing-900);
}

#projects {
  background-image: url("assets/skills-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 250%;
}

.container {
  margin: 0 auto;
  max-width: 75ch;
}
