.backdrop {
  transition: background-color 0.5s;
  background-color: var(--color-600);
  box-shadow: 0x 1px 2px var(--color-700);
}

.nav {
  transition: background-color 0.5s;
  position: sticky;
  z-index: 10;
  top: 0;
  padding-inline: var(--spacing-800);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}

.nav > h1 {
  font-weight: 700;
  font-size: var(--fs-500);
}

.nav > h1 > span {
  font-weight: 400;
  color: var(--color-highlight-400);
  text-transform: lowercase;
}

.nav > ul {
  display: flex;
  gap: var(--fs-400);
}

.nav li {
  font-size: var(--fs-400);
  padding-inline: var(--spacing-300);
  text-align: center;
  cursor: pointer;
}

.nav li:last-child {
  padding-right: 0;
}

.nav li:hover {
  background-color: var(--color-400);
}

.nav .progress-bar {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--color-highlight-400);
  transform-origin: 0%;
  z-index: 10;
}
